@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(4, 226, 255);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-decoration: none;
}

.logo {
    border-radius: 20px;
    font-size: 2em;
    background: #016134;
    color: rgb(4, 226, 255);
    pointer-events: none;
}

nav {
    display: flex;
}

nav a,
nav a.active:hover {
    text-decoration: none;
    color: #232323;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 700;
    display: flex;
}

nav a:hover,
nav a.active {
    background: #359381;
    color: snow;
}

.par {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #333;
}

.par img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    padding: 50px;
    background: #000000;
}

.sec h2 {
    font-size: 3em;
    color: teal;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    font-weight: 300;
    color: snow;
}